@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

:root {
    --night-blue: #13005A;
    --blue: #00337C;
    --sky-blue: #A3C7D6;
    --sunset-red: #DC3535;
    --sunset-orange: #FD841F;
    --sunset-yellow: #FFE15D;
}

body {
    position: relative;
    background-color: var(--night-blue);
    height: 100%;
    margin: 0px;
    padding: 3em;
    font-family: 'Playfair Display', serif;
}

.style2-line {
    position: absolute;
    top: 50%;
    right: -20%;
    transform: translate(0%, -50%);
    margin: 0px auto;
    width: 3px;
    height: 100%;
    background-color: white;
    border-radius: 15px;
}

.navbar {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    text-align: center;
    padding: 2em;
    transition: all 0.3s ease;
}

.switch-style-wrapper {
    margin: 2em 0em;
}

.switch-style-wrapper > button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 50px;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.switch-style-wrapper > button:hover {
}

.navbar ul {
    margin: 4em 0em;
    padding: 0px;
    list-style-type: none;
}

.navbar li {
    margin: 1em 0em;
    padding: 1em 0em;
}

.navbar li > a {
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
}

.arrow-wrapper {
    display: none;
    position: absolute;
    left: 55px;
    top: 90px;
}

.arrow-wrapper > h3 {
    display: inline-block;
    font-size: 1.2rem;
    margin: 0px;
    width: 8rem;
    color: var(--black-coffee);
    text-shadow: var(--milk) 0px 0px 5px;
}

.bgbg {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("../files/dall-e-night-sky-touchup.png");
    background-position: center;
    background-size: cover;
    transform: scale(1.2);
    background-attachment: fixed;
    -webkit-filter: blur(7px);
    filter:blur(7px);
    transition: all 1s cubic-bezier(0.1, 0.75, 1, 1);
}

.bgbg-wrapper {
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0em;
    left: 0em;
    z-index: -1;
}

.greetings {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-20%, -50%);
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: var(--night-blue) 0px 0px 5px;
}

.greetings > h1 {
    font-size: 4rem;
    font-weight: 600;
    margin: 0.5em;
    padding: 0px;
}

.greetings > p {
    font-size: 1.5rem;
    margin: 0.5em;
    padding: 0px;
}

.social-wrapper {
    margin: 1em;
}